<div class="bg-light p-5">

    <span class="h5 text-muted">{{ id !== null ? employee.name : "New employee" }}'s profile</span>

    <hr>

    <form class="mt-5" [formGroup]="form" (ngSubmit)="save(form.value)">

        <input type="hidden" formControlName="id">

        <div class="form-group">
            <label>Name:*</label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="name"
                   required>
            <small *ngIf="form.get('name').touched && form.get('name').invalid" class="text-danger">Kötelező mező</small>
        </div>

        <div class="form-group">
            <label>Username:*</label>
            <input type="text" class="form-control" formControlName="username" placeholder="username" required>
            <small *ngIf="form.get('username').touched && form.get('username').invalid" class="text-danger">Kötelező mező</small>
        </div>

        <div class="form-group">
            <label>Email address:*</label>
            <input type="text" class="form-control" formControlName="email" placeholder="email" required>
            <small *ngIf="form.get('email').touched && form.get('email').invalid" class="text-danger">Kötelező mező</small>
        </div>

        <div class="form-group">
            <label>Phone number:</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="phone">
        </div>

        <div class="form-group">
            <label>Website:</label>
            <input type="text" class="form-control" formControlName="website" placeholder="website">
        </div>

        <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Save</button>
    </form>


</div>
